.transactions {
  padding-top: 70px;
  padding-bottom: 70px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  background: url(../../img/bg.jpg);
  justify-content: center;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
}

.onlineTransactions {
  width: 798px;
  height: 318px;
  background-color: white;
  margin: auto;
}
