.about {
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mainTitle {
  font-weight: 800;
  font-size: 32px;
  color: #37474f;
  margin-top: 0px;
  font-size: 2.625rem;
}

.textAbout {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #788084;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: #e70;
}

.link:focus,
.link:hover {
  color: #1e87f0;
  text-decoration: underline;
}

.secondTitle {
  font-family: muli, sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: #37474f;
}

.contact {
  font-size: 15px;
  line-height: 26px;
  color: #788084;
}

.contactImg {
  width: 520px;
  height: 170px;
}

.contactBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactBoxImg {
  margin-right: 50px;
}
