.button:hover,
.button:focus {
  background-color: #e67e22;
}

.secondTitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #788084;
}

.link {
  color: #e70;
  text-decoration: none;
}
