@import '../../scss/module/scss.module.scss';

.firstSection {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  background: url(../../img/bg5.jpg);
  justify-content: center;
  background-position: bottom;
  min-width: 100%;
  min-height: 100%;
}

.mainTitle {
  font-weight: 800;
  font-size: 42px;
  color: #37474f;
  margin: 0;
  margin-bottom: 20px;
}

.fSBlock {
  width: 540px;
  height: 240px;
}

.button {
  background-color: #f90;
  color: white;
  text-align: center;
  font-weight: 800;
  font-size: 11px;
  padding: 12px 22px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  transition: 0.2s;
  margin-top: 30px;
}
