.terms {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mainTitle {
  font-weight: 800;
  font-size: 32px;
  color: #37474f;
  margin-top: 0px;
  font-size: 2.625rem;
}

.secondTitle {
  font-family: muli, sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: #37474f;
}

.text {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #788084;
  margin-bottom: 20px;
}
